<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main class="max-width py-5">
        <form class="m-auto" action="/admin/add-product" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" aria-describedby="titleForNewProduct">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" name="description" aria-describedby="descriptionForNewProduct">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="number" class="form-control" id="price" name="price" aria-describedby="priceForNewProduct">
            </div>
            <div class="mb-3">
              <label for="image_url" class="form-label">Image url</label>
              <input type="text" class="form-control" id="image_url" name="image_url" aria-describedby="imageForNewProduct">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrf_token %>" />
            <button type="submit" class="btn btn-primary w-100">Add</button>
          </form>
    </main>
<%- include('../includes/end.ejs') %>