<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="max-width m-auto px-2 mt-3"><h1>Error occurred, try again later.</h1><h2>I'd appreciate if you contacted me so i can fix this.</h2></div>

<%- include('includes/end.ejs') %>