@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
}

main {
  padding: 0.75rem;
  margin: auto;
}

.max-width {
  max-width: 1200px !important;
}

.products-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.products-container > * {
  margin: 15px;
}

.product-detail-img {
  min-width: 250px;
  height: auto;
}

.cart-image {
  max-width: 150px;
  height: auto;
}

.order-id {
  color: #198754;
  word-break: break-all;
}

.checkout-btn {
  width: 100%;
  max-width: 500px;
}

.login-box:hover > * {
  color: rgba(255, 255, 255, 0.75) !important;
}

.login-box a {
  padding-right: 2px !important;
}

.login-icon {
  font-size: 2.5rem;
  cursor: pointer;
  padding-left: 0 !important;
}

.auth-form {
  max-width: 800px !important;
}

.nav-link-logout {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.nav-link-logout:active {
  outline: none;
  border: none;
}

@media (max-width: 700px) {
  .products-container {
    justify-content: center;
  }
}
