.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 5;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sidebar-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 4;
}

.sidebar-links li {
  margin: 15px 0;
  text-align: right;
}

.sidebar-links .nav-link {
  padding: 4px 0;
}

.sidebar-links .nav-link-icon {
  padding: 0;
}

.sidebar-links .nav-link span {
  margin-top: 0;
}

.sidebar-links .cart-number {
  top: -15px;
}
