.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 5;
}

.sidebar-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 4;
}
