.btn {
  background: var(--blue-600);
  border-radius: 8px;
  padding: 8px;
  min-width: 200px;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--blue-hover);
}

.btn,
.btn > * {
  color: #fff;
  font-weight: 600;
}
